.option_top_box {
    border-color: #1f1f1f;
    border-style: outset;
    border-width: 3px;
}

.controller_categories {
    border-color: #1f1f1f;
    border-style: solid;
    border-width: 1px;
}

.controls_border {
    border-color: #1f1f1f;
    border-style: outset;
    border-width: 3px;
    border-radius: 15px;
}

.terminal text {
    color: #fff59d;
    background-color: #0c0b0e;
}